body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px 18px arial;
  background: #eee;
}
form {
  display: block;
  padding: 0;
  max-width: 600px;
  width: 90%;
  background: #fff;
  margin: auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 13px rgba(0,0,0,0.15);
  box-shadow: 0 2px 13px rgba(0,0,0,0.15);
}
input,
select,
textarea,
button {
  display: block;
  padding: 0;
  width: 100px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  margin-bottom: 14px;
  color: #999;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
input.error,
select.error,
textarea.error,
button.error {
  border: 1px solid #f00;
}
textarea {
  padding: 15px;
  height: 100px;
  line-height: 18px;
}
button {
  background: #333;
  color: #fff;
  width: 40%;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background: #000;
}
